.bg-color {
  background-color: rgb(45, 23, 44);
}

.bg-top {
  background-color: rgb(244, 246, 255);
}

.fs-4 {
  color: rgb(61, 61, 61) !important;
}

.nav-link {
  color: rgb(252, 233, 255) !important;
}

.btn-bg {
  background-color: rgb(88, 62, 87);
}

.text-pro {
  font-size: 1rem;
}
