<!-- Navbar section -->

<section class="bg-color">
  <div class="container py-2">
    <header class="d-flex flex-wrap justify-content-center py-1">
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
      >
        <ul class="nav nav-pills text-light">
          <li class="nav-item">
            <a href="" class="nav-link" aria-current="page"
              ><i class="bi bi-envelope pe-2"></i>{{ uemail }}</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"
              ><i class="bi bi-telephone pe-2"></i>{{ ucon }}</a
            >
          </li>
        </ul>
      </a>

      <ul class="nav nav-pills text-light">
        <li class="nav-item">
          <a href="" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Product</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contect</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-bg text-light me-2">Login</button>
        <button type="button" class="btn btn-bg text-light">Sign-up</button>
      </div>
    </header>
  </div>
</section>

<section id="search-bar">
  <nav class="navbar navbar-light bg-light p-0">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="assets/images/New Logo.png"
          alt=""
          width="200"
          height="auto"
          class="d-inline-block align-text-top"
        />
      </a>
    </div>
  </nav>
</section>

<app-home></app-home>
