<!-- Home Page carousel -->

<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="title_tag">
        <h1>Marble God Statue</h1>
        <p>Marble Statue and Marble Handicrafts</p>
        <button type="button" class="btn btn-light">BOOK NOW</button>
      </div>

      <img src="assets/images/banner_1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <div class="title_tag">
        <h1>Marble God Statue</h1>
        <p>Marble Statue and Marble Handicrafts</p>
        <button type="button" class="btn btn-light">BOOK NOW</button>
      </div>
      <img src="assets/images/banner_1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <div class="title_tag">
        <h1>Marble God Statue</h1>
        <p>Marble Statue and Marble Handicrafts</p>
        <button type="button" class="btn btn-light">BOOK NOW</button>
      </div>
      <img src="assets/images/banner_1.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- catagory section -->

<div class="container">
  <div class="pt-5 w-100 text-center">
    <h2 class="text-secondary">OUR SPECIALIZATION</h2>
    <p class="text-uppercase pt-2" style="color: rgb(98, 78, 97)">
      We create art any type of idol. We are specialized in Hindu god Statues in
      any size which you wants.
    </p>
  </div>

  <div class="row pt-3">
    <div class="col-md-4 border-box">
      <img src="assets/images/idol_img.png" class="w-100" alt="" />

      <p class="mt-2 bg-back text-light p-2">
        We create art any type of idol. We are specialized in Hindu god Statues
        in any size which you wants. We can develop any type of statue as per
        client requirement or client preferred design/picture/ drawing/idea etc.
      </p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/idol_img.png" class="w-100" alt="" />
      <p class="mt-2 bg-back text-light p-2">
        We create art any type of idol. We are specialized in Hindu god Statues
        in any size which you wants. We can develop any type of statue as per
        client requirement or client preferred design/picture/ drawing/idea etc.
      </p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/idol_img.png" class="w-100" alt="" />
      <p class="mt-2 bg-back text-light p-2">
        We create art any type of idol. We are specialized in Hindu god Statues
        in any size which you wants. We can develop any type of statue as per
        client requirement or client preferred design/picture/ drawing/idea etc.
      </p>
    </div>
  </div>
</div>

<!-- catagory section end -->

<!-- Gallery section -->
<div class="containe-fluid text-center pb-5">
  <div class="py-4">
    <h2 class="text-secondary">GALLERY</h2>
  </div>
  <div class="row w-100">
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
  </div>

  <div class="row w-100">
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
  </div>

  <div class="row w-100">
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
    <div class="col-md-3">
      <img src="assets/images/idol_3.png" alt="" />
    </div>
  </div>
</div>
<!-- Gallery end -->

<!-- Unique Art -->
<div class="container py-5 text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/idol_3.png" alt="" />
        </div>
        <div class="col-md-6">
          <p class="text-start bg-light p-2 mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
            laudantium ducimus dolorum fugit deleniti.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/idol_3.png" alt="" />
        </div>
        <div class="col-md-6">
          <p class="text-start bg-light p-2 mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
            laudantium ducimus dolorum fugit deleniti.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Unique Art end-->

<div class="container-fluid bg-back">
  <div class="row py-5">
    <div class="col-md-6">
      <img src="assets/images/About-Art.png" alt="" />
    </div>
    <div class="col-md-6">
      <div class="pt-5 p-5 text-light">
        <h2>Voluptatem voluptate cum fuga</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          voluptate cum fuga repellendus, officiis expedita sequi dicta dolore
          ab consequuntur neque qui. Consequuntur distinctio laudantium
          voluptatibus, cum vel expedita a. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Voluptatem voluptate cum fuga
          repellendus, officiis expedita sequi dicta dolore ab consequuntur
          neque qui. Consequuntur distinctio laudantium voluptatibus, cum vel
          expedita a. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- footer -->

<div class="container-fluid bg-back2 border-top">
  <footer class="pb-1 pt-5">
    <div class="row">
      <div class="col-3">
        <h2><a href="" class="nav-link">icon</a></h2>
      </div>
      <div class="col-3">
        <h5>About Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Profile</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Contact</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted"
              >Feedback / Complaints</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Sitemap</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Testimonials</a>
          </li>
        </ul>
      </div>

      <div class="col-3">
        <h5>HELP</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Order Processing </a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Payment Options</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Shipping</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Returns</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Customer Service</a>
          </li>
        </ul>
      </div>

      <div class="col-3">
        <h5>Office and Showroom</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted"
              ><i class="bi bi-geo-alt-fill pe-1"></i>Lorem ipsum dolor sit,
              amet consectetur adipisicing elit. Molestiae laboriosam ex sit!
              Praesentium iste sunt, adipisci ipsam ullam</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted"
              ><i class="bi bi-telephone-fill pe-1"></i>+91 99999-99999</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted"
              ><i class="bi bi-whatsapp pe-1"></i>+91 88888-88888</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted"
              ><i class="bi bi-envelope-fill pe-1"></i>bhomiya123@gmail.com</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted"
              ><i class="bi bi-envelope-fill pe-1"></i
              >bhomiya123123@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<div class="container-fluid py-2 border-top bg-back">
  <div class="d-flex justify-content-between text-light">
    <p>&copy; 2022 Company, Inc. All rights reserved.</p>
  </div>
</div>

<!-- footer end-->
